[data-md-color-scheme="slate"] {
  --md-default-fg-color: hsla(225,6%,90%,0.82);
  --md-default-fg-color--light: hsla(225,6%,90%,0.56);
  --md-default-fg-color--lighter: hsla(225,6%,90%,0.32);
  --md-default-fg-color--lightest: hsla(225,6%,90%,0.12);
  --md-default-bg-color: hsla(225,6%,14%,1);
  --md-default-bg-color--light: hsla(225,6%,14%,0.54);
  --md-default-bg-color--lighter: hsla(225,6%,14%,0.26);
  --md-default-bg-color--lightest: hsla(225,6%,14%,0.07);
}

.md-typeset h1 {
  font-weight: 900;
}

.md-typeset h2 {
  font-weight: 700;
}

.md-typeset h3 {
  font-weight: 500;
}
