:root {
  color-scheme: dark;

  --bg-color: #202124;
  --bd-color: #606367;
  --font-color: rgba(255, 255, 255, 0.87);
  --hover-color: rgba(255, 255, 255, 1);
  --font-secondary-color: #9aa0a6;

  --blue-hover: rgba(50, 101, 203, 0.12);
  --green-hover: rgba(19, 115, 51, 0.12);
  --pink-hover: rgba(169, 36, 112, 0.12);
  --orange-hover: rgba(182, 105, 37, 0.12);
  --teal-hover: rgba(53, 121, 129, 0.12);
  --purple-hover: rgba(109, 44, 180, 0.12);
  --white-hover: rgba(255, 255, 255, 0.12);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  color: var(--font-color) !important;
}

/* Background */
body {
  background-color: var(--bg-color);
}

/* Navbar */
.joJglb {
  background: var(--bg-color);
  border-color: var(--bd-color);
}
.z3vRcc-J3yWx {
  color: var(--font-color);
}

/* Sidebar */
.ETRkCe {
  background-color: var(--bg-color);
}
.Tabkde .OX4Vcb {
  background-color: var(--bg-color);
}
.F4Ol1b .Tabkde {
  border-color: var(--bd-color);
}
.asQXV {
  color: var(--font-color);
}
.Du1LZe {
  border-color: var(--bd-color);
}
.VfPpkd-rymPhb-clz4Ic {
  background-color: var(--white-hover);
}

/* Sidebar hover */
.S3aLQd.bFjUmb-Ysl7Fe,
.S3aLQd .bFjUmb-Ysl7Fe,
.S3aLQd.CNpREd.bFjUmb-Ysl7Fe,
.S3aLQd.CNpREd .bFjUmb-Ysl7Fe {
  background-color: var(--teal-hover);
}
.ee1HBc.bFjUmb-Ysl7Fe,
.ee1HBc .bFjUmb-Ysl7Fe,
.ee1HBc.CNpREd.bFjUmb-Ysl7Fe,
.ee1HBc.CNpREd .bFjUmb-Ysl7Fe {
  background-color: var(--blue-hover);
}

.WFUiUb.bFjUmb-Ysl7Fe,
.WFUiUb .bFjUmb-Ysl7Fe,
.WFUiUb.CNpREd.bFjUmb-Ysl7Fe,
.WFUiUb.CNpREd .bFjUmb-Ysl7Fe {
  background-color: var(--green-hover);
}

.zvzLKc.bFjUmb-Ysl7Fe,
.zvzLKc .bFjUmb-Ysl7Fe,
.zvzLKc.CNpREd.bFjUmb-Ysl7Fe,
.zvzLKc.CNpREd .bFjUmb-Ysl7Fe {
  background-color: var(--pink-hover);
}

.g2MItd.bFjUmb-Ysl7Fe,
.g2MItd .bFjUmb-Ysl7Fe,
.g2MItd.CNpREd.bFjUmb-Ysl7Fe,
.g2MItd.CNpREd .bFjUmb-Ysl7Fe {
  background-color: var(--orange-hover);
}

.Mupove.bFjUmb-Ysl7Fe,
.Mupove .bFjUmb-Ysl7Fe,
.Mupove.CNpREd.bFjUmb-Ysl7Fe,
.Mupove.CNpREd .bFjUmb-Ysl7Fe {
  background-color: var(--purple-hover);
}

.UvHKof.bFjUmb-Ysl7Fe,
.UvHKof .bFjUmb-Ysl7Fe,
.UvHKof.CNpREd.bFjUmb-Ysl7Fe,
.UvHKof.CNpREd .bFjUmb-Ysl7Fe {
  background-color: var(--grey-hover);
}

/* Classroom Text */
.rpo4wf-J3yWx {
  color: var(--font-color);
}

/* Hamburger */
.NMm5M {
  color: var(--font-color);
}

/* Apps */
.gb_Oa svg,
.gb_Sc svg,
.gb_ed .gb_md,
.gb_4c .gb_md {
  color: var(--font-color);
}

/* Join Classroom */
.xiutKc > .I7OXgf {
  background-color: var(--bg-color);
}

/* Card */
.Aopndd {
  background-color: var(--bg-color);
  border-color: var(--bd-color);
}
.SZ0kZe {
  border-color: var(--bd-color);
}
.oBSRLe {
  color: var(--font-secondary-color);
}
.apFsO.onkcGd,
.apFsO.onkcGd:visited {
  color: var(--font-color);
}

/* Classroom tabs */
.F4Ol1b .KEDCCd {
  border-color: var(--bd-color);
  background-color: var(--bg-color);
}
.wZTANe .J1raN {
  color: var(--font-color);
}
.wZTANe .J1raN:hover {
  color: var(--hover-color);
}
.mwJvDe .KEDCCd {
  background-color: var(--bg-color);
  border-color: var(--bd-color);
}

/* Submenu */
.VfPpkd-xl07Ob-XxIAqe {
  background-color: var(--bg-color);
}
.q6oraf .VfPpkd-StrnGf-rymPhb {
  color: var(--font-color);
}

/* Classroom announcements */
body {
  color: var(--font-color);
}
.dDKhVc {
  color: var(--font-secondary-color);
}

/* Upcoming */
.d4Fe0d {
  background-color: var(--bg-color);
  border-color: var(--bd-color);
}
.EZrbnd {
  color: var(--font-color);
}
.sdDCme {
  color: var(--font-color);
}

/* Topics */
.ReCbLb:not(.VfPpkd-O1htCb-OWXEXe-OWB6Me) .VfPpkd-uusGie-fmcmS {
  color: var(--font-color);
}

/* People */
.ycbm1d {
  border-color: var(--bd-color);
}
.d6CWTd {
  border-color: var(--bd-color);
}

/* Feed */
.s2g3Xd {
  border-color: var(--bd-color);
}

/* Settings */
.tLDEHd {
  color: var(--font-color);
}
.z3vRcc,
.tDxNLe {
  color: var(--font-color);
}

/* Context menu */
.JPdR6b {
  background: var(--bg-color);
}

/* Classwork */
.tUJKGd:not(:first-child) {
  border-color: var(--bd-color);
}
